/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.home__container{
    display: grid;
    margin: 0 auto;
    justify-content: center; /* Centra horizontalemente */
}

@media (max-width: 768px) {
    .home__container{
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }
}